spring:
  application:
    name: demoday

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    aws:
      credentials:
      region:
        static: ap-southeast-2
      s3:
        bucket: handlight
      stack:
        auto: false

  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB


jwt:
  secret: your-super-secret-key-for-signing-jwt-tokens